h1 {
  font-weight: 900;
  font-size: 64px;
  line-height: 122%;
  font-style: italic;
  color: $white;
  position: relative;
  z-index: 1;
  min-height: 2.5em;
  display: flex;
  align-items: center;
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    right: -15px;
    width: 200%;
    height: 100%;
    background-color: $main;
    z-index: -1;
    @include transformY;
  }
}
h2 {
  font-weight: 900;
  font-size: 64px;
  line-height: 154%;
  font-style: italic;
  color: $white;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 3.4em;
  padding: 0 22px;
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background-color: $main;
    z-index: -1;
    @include transform;
    transform: translate(-50%, -50%) skew(170deg, 0deg);
  }
  &.uniq {
    font-weight: 900;
    font-size: 54px;
    line-height: 122%;
    color: $main;
    min-height: unset;
    display: block;
    margin-top: 0;
    &::before {
      display: none;
    }
  }
  span {
    font-weight: 700;
    font-size: 75%;
    line-height: 170%;
    text-transform: uppercase;
  }
  small {
    display: block;
    font-size: 32px;
    line-height: 125%;
    font-weight: 700;
    color: $black;
    margin-top: 24px;
  }
}
h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 190%;
  color: $white;
  text-transform: uppercase;
  padding-right: 20px;
  &.uniq {
    font-size: 64px;
    line-height: 122%;
    color: $main;
    font-style: italic;
    font-weight: 800;
    padding: 0;
  }
  &.ex {
    font-family: $roboto;
    font-weight: 700;
    font-size: 48px;
    line-height: 140%;
    color: $white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-transform: unset;
    span {
      font-size: 133%;
    }
  }
}
h4 {
  font-size: 45px;
  line-height: 122%;
  font-style: italic;
  font-weight: 800;
  &.sm {
    font-style: italic;
    font-weight: 800;
    font-size: 40px;
    line-height: 160%;
  }
  &.med {
    font-weight: 500;
    font-style: normal;
  }
  &.reg {
    font-weight: 400;
    font-style: normal;
  }
  &.strong {
    font-weight: 700;
    font-style: normal;
  }
  strong {
    font-weight: 700;
    font-style: normal;
    white-space: nowrap;
  }
  a {
    font-style: italic;
    font-weight: 900;
    color: $main;
    text-decoration: underline;
    @include transition;
    &:hover {
      opacity: 0.8;
    }
  }
  span {
    white-space: nowrap;
  }
}
h5 {
  font-weight: 700;
  font-size: 23px;
  line-height: 122%;
  &.big {
    font-weight: 700;
    font-size: 36px;
    line-height: 140%;
  }
}
h6 {
  font-size: 24px;
  line-height: 48px;
  font-weight: 400;
  color: $gray;
}
p {
  &.lg {
    font-weight: 500;
    font-size: 32px;
    line-height: 175%;
  }
  &.big {
    font-weight: 500;
    font-size: 24px;
    line-height: 190%;
    span {
      font-size: 133%;
      color: #59a8da;
    }
  }
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $roboto;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  padding: 20px 100px;
  background: $main;
  color: $white;
  border-radius: 12px;
  @include transition;
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04);
  box-sizing: border-box;
  &:hover {
    opacity: 0.8;
  }
  &.uniq {
    font-family: $roboto;
    font-weight: 700;
    font-size: 33px;
    line-height: 39px;
    text-transform: uppercase;
    color: #59a8da;
    padding: 13px 20px;
    border-radius: 20px;
    background-color: $white;
    box-shadow: unset;
    letter-spacing: 0;
  }
}
ul {
  li {
    padding-left: 58px;
    font-weight: 400;
    font-size: 24px;
    line-height: 48px;
    position: relative;
    &::before {
      position: absolute;
      content: "";
      left: 0;
      top: 10px;
      width: 30px;
      height: 44px;
      background: url(../images/icons/icon.svg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
    b {
      font-weight: 700;
    }
  }
}
.title {
  margin-bottom: 75px;
  text-align: center;
  h2 {
    min-height: 4em;
    margin: 0;
    &::before {
      transform: translate(-50%, -50%);
    }
    span {
      font-weight: 900;
    }
  }
}
main {
  margin-top: 120.91px;
  overflow: hidden;
}
.shape {
  position: relative;
  width: 100%;
  background: $black;
  height: 220px;
  pointer-events: none;
  &.sm {
    height: 110px;
  }
  &:after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 100%;
    background: $white;
    clip-path: polygon(0 0, 0% 100%, 100% 100%);
  }
  &.rev {
    background: $white;
    &::after {
      background: $black;
    }
  }
}
.top {
  position: relative;
  top: -100px;
  width: 0;
  height: 0;
  overflow: hidden;
}
.arrow {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: rgba($color: #eeeeee, $alpha: 0.55);
  width: 85px;
  height: 85px;
  z-index: 10;
  border-radius: 50%;
  display: none;
  align-items: center;
  justify-content: center;
  @include transition;
  box-shadow: 0px 3px 6px rgba($color: #000000, $alpha: 0.16);
  img {
    width: 40px;
  }
  &:hover {
    opacity: 0.8;
  }
}
.cookie {
  display: none;
  position: fixed;
  bottom: 20px;
  left: 10px;
  width: 350px;
  padding: 15px;
  background: #141414;
  box-sizing: border-box;
  color: $white;
  z-index: 99;
  border-radius: 4px;
  h6 {
    font-size: 24px;
    margin-bottom: 8px;
    color: $white;
    line-height: 27px;
  }
  p {
    font-size: 16px;
    margin-bottom: 12px;
    line-height: 19px;
  }
  a {
    color: $white;
    text-decoration: underline;
    @include transition;
    &:hover {
      opacity: 0.8;
    }
  }
  button {
    display: inline-block;
    cursor: pointer;
    color: $white;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    @include transition;
    padding: 8px 22px;
    margin-right: 14px;
    border-radius: 3px;
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      opacity: 0.8;
    }
  }
  .accept {
    background-color: #3e9b67;
  }
  .decline {
    background-color: $main;
  }
}
.counter {
  width: 100%;
  max-width: 250px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 20px 22px 10px 22px;
  background: #191919;
  border-radius: 13px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  &__row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
  }
  &__foot {
    text-align: center;
    p {
      font-family: $roboto;
      font-weight: 400;
      font-size: 22px;
      line-height: 26px;
      color: $white;
    }
  }
  &Item {
    width: calc(50% - 7px);
    max-width: 94px;
    font-family: $roboto;
    font-weight: 400;
    font-size: 78px;
    line-height: 120%;
    letter-spacing: -0.055em;
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    &::before {
      position: absolute;
      top: 50%;
      left: 0;
      width: 10px;
      height: 10px;
      content: "";
      background-color: #191919;
      border-radius: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
    }
    &::after {
      position: absolute;
      top: 50%;
      right: 0;
      width: 10px;
      height: 10px;
      content: "";
      background-color: #191919;
      border-radius: 50%;
      transform: translate(50%, -50%);
      z-index: 2;
    }
    span {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: calc(50% - 1px);
      border-radius: 6px;
      background-color: #59a8da;
      box-shadow: inset 0px 1.09735px 13.1681px rgba(255, 255, 255, 0.45);
      &.bottom {
        top: unset;
        bottom: 0;
      }
    }
    b {
      font-weight: 400;
      position: relative;
      z-index: 2;
    }
  }
}
